<% var active = active? active: "about" %>
<section class="about_nav">
    <nav class="header_like_wrap clearfix">
        <a href="/about" class="nav_lnk <%= (active=='about')? 'selected' : "" %>">About Us</a>
        <a href="/partners" class="nav_lnk <%= (active=='partners')? 'selected' : "" %>">Partners</a>
        <a href="/team" class="nav_lnk <%= (active=='team')? 'selected' : "" %>">The Team</a>
        <a href="/press" class="nav_lnk <%= (active=='press')? 'selected' : "" %>">Press</a>
        <a href="/contact" class="nav_lnk <%= (active=='contact')? 'selected' : "" %>">Contact Us</a>
    </nav>
</section>